<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:reference interface="com.jql.yifan.service.HelloService"
                     id="helloService"
                     version="1.0.1"
                     url="dubbo://localhost:20888"/>

    <bean id="notify" class="com.jql.yifan.NotifyImpl"/>
    <dubbo:reference interface="com.jql.yifan.service.MessageService"
                     id="messageService"
                     version="1.0.1">
        <dubbo:method name="getMessage"
                      async="true"
                      onreturn="notify.onReturn"
                      onthrow="notify.onThrow"/>
    </dubbo:reference>


</beans>